<%# partial parameters: profile:[profile] ; optional: nil %>

<div class="profile">
    <%# <div><%= render %>
    <div><%= link_to(profile.name, user_profile_path(profile.user)) %></div>
    <div><%= image_tag profile.avatar.representation(resize_to_fill: [100, 100]) %></div>
    <div>Friends in common</div> <%# TODO: add function that shows friends in common%>
    <div><%= render_user_friend_request_action(current_user, profile.user) %></div>
</div>
