<h1 class="title is-3 mb-5">Post a new background for your profile</h1>

<section class="new-profile-image-form box mb-6">
  <%= render "posts/post_form", post: @post %>
</section>

<%= render "profiles/attachments_images_grid", attachments_records: @attachments %>
