<h1 class="tittle">Profile Search</h1>

<div class="fixed-grid has-3-cols">
    <div class="grid">
        <% @profiles.each do |profile| %>
            <div class="cell">
                <%= render profile %>
            </div>
        <% end %>
    </div>
</div>
