<h1 class="tittle">Profile Search</h1>

<p>Found <%= pluralize(@searched_profiles.size, "profile") %> from query: "<%= @sanitized_input %>" </p>

<%= render "shared/card_grid", collection: @searched_profiles %>
