<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<header>
    <nav>
        <ul>
            <li><button>Feed</button></li>
            <li><input type="text" name="profile_search" id="search_bar"></li>
            <li><button>Message</button></li>
            <li><button>Notif</button></li>
            <li><button>Profile</button></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <div>
            <img src="" alt="Background Image">
            <button>Edit Background</button>
        </div>
        <div>
            <div>
                <img src="" alt="Profile Image">
                <button>Change</button>
            </div>
            <div>
                <h1>Name</h1>
                <a>Friends</a>
            </div>
        </div>
        <button>Edit Profile</button>
    </section>
    <div>
        <nav>
            <ul>
                <li><button>Publication</button></li>
                <li><button>Friends</button></li>
                <li><button>Photos</button></li>                
            </ul>
        </nav>
    </div>

    <section>
        <h2>Biography</h2>
        <ul>
            <li>Location</li>
            <li>Age</li>
            <li>Joined</li>
        </ul>
    </section>

    <section>
        <h2>Post</h2>
        <div>
            <button>Profile</button>
            <input type="text" name="" id="">
        </div>
        <div>
            <button>Add</button>
            <button>Tag</button>
            <button>Submit</button>
        </div>
    </section>

    <section>
        <div>
            <h2>Photos</h2>
            <a href="">All Photos</a>
        </div>
        <div>
            <img src="" alt="1" id="img1">
            <img src="" alt="2" id="img2">
            <img src="" alt="3" id="img3">
            <img src="" alt="4" id="img4">
            <img src="" alt="5" id="img5">
            <img src="" alt="6" id="img6">
            <img src="" alt="7" id="img7">
            <img src="" alt="8" id="img8">
            <img src="" alt="9" id="img9">
        </div>
    </section>
    <section>
        <h2>Feed</h2>
    </section>
</main>


<footer></footer>