<div class="comment">
    <% if defined?(class_append) %>
        <div class="<%= class_append %>">
    <% end %>

        <%= render "profiles/user_identity_header", user: comment.author %>
        <%= comment.body %>
        <%= render "shared/interaction", component: comment %>

    <% if defined?(class_append) %>
        </div>
    <% end %>
</div>
