<%# partial parameters: comment[Comment] ; optional: class_append[String]%>

<div class="comment <%= class_append if defined?(class_append) %>">
    <% if comment.deleted? %>
        <% render_deleted_content(comment) %>
    <% else %>
        <%= render_visible_content(comment) %>
    <% end %>
</div>
