<%# partial parameters: new_comment:[Comment] ; optional: nil %>

<div class="box">
    <%= render "profiles/user_identity_header", user: current_user %>

    <%= form_with model: new_comment do |form| %>
        <div>
            <%= form.textarea :body, class:"textarea", size: "100x8", placeholder: "Add your comment" %>
        </div>

        <div class="controls is-flex is-justify-content-end mt-3">
            <%= form.submit "Publish Comment", class:"button is-dark" %>
        </div>
    <% end %>
</div>

<%# TODO: add friends tags %>
