<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<ul>
    <% @users.each do |user| %>
        <li><%= link_to(user.email, user_profile_path(user)) %> </li>
        <%= link_to("Send Friend Request", user_friend_request_path(user), data: { turbo_method: :post }) %>
    <% end %>
</ul>
