<%# partial parameters: content[Post,Comment] %>

<section class="content section">
    <div class="body"> <%= content.body %> </div>
    <div class="is-fle is-justify-content-center">
        <div><%= render_attachments_preview(content) if content.respond_to?(:attachments) %></div>
    </div>
</section>
