<%# partial parameters: content[Post,Comment]%>

<section class="content">
    <div class="body"> <%= content.body %> </div>
    <%= render_attachments_preview(content) if content.respond_to?(:attachments) %>
</section>
