<%# partial parameters: content[Post,Comment] %>

<section class="content section pt-4 pb-4">
    <% if content.respond_to?(:attachments) %>
        <div class="is-flex is-justify-content-center">
                <%= render_attachments_preview(content) %>
        </div>
    <% end %>

    <% unless content.body.empty? %>
        <div class="body mt-4 box">
            <%= content.body %>
        </div>
    <% end %>
</section>
