<%# partial parameters: content[post,comment] ; optional: class_append[String]%>

<section class="heading">
    <div>
        <%= render "profiles/user_identity_header", user: content.author %>
        <%= render_category_caption(content) if content.is_a?(Post) %>
    </div>
    <div><%= content.updated_at.to_date.to_fs(:long_ordinal) %></div>
</section>
