<%# partial parameters: content[Content]; %>

<section class="interactions">
    <span>Number of reactions</span><%#TODO: after creating model for reactions bind this%>
    <div>
        <%= button_to "Like" %>
        <%= button_to "Reply" %>
        <%= button_to "Share" %>
        <%= edit_link_for content %>
    </div>
</section>
