<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div class="post">
    <%= render @post %>
    <section class="comments">
        <div class="view">
            <% @post.comments.first(5).each do |comment| %>
                <%= render comment %>
            <% end %>
        </div>
        <%= render "comments/comment_form", post: @post %>
    </section>
</div>
