<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<section class="focused_content">
    <%= render @post %>
</section>

<%= render_replies_tree(@post) %>

<%= render "comments/comment_form", new_comment: @comment  unless @post.deleted? %>
