<footer class="footer is-primary">
    <div class="container has-text-centered">
        <span> Created by </span>

        <span>
            <%= link_to "André Belbut", "https://github.com/Belbut" %>
            <i class="fab fa-github"></i>
        </span>
    </div>
</footer>
