<header>
    <nav class="navbar is-primary">
        <div class="container">
            <div class="navbar-brand ml-0">
                <%# TODO: missing feed route and view %>
                <%= link_to "", class:"navbar-item" do %>
                    <span class="icon is-large">
                        <i class="fa-solid fa-3x fa-hippo"></i>
                    </span>
                <% end %>
            </div>
            <% if user_signed_in? %>
                <%= render "application/navbar/navbar_logged_in" %>
            <% else %>
                <%= render "application/navbar/navbar_logged_out" %>
            <% end %>
        </div>
    </nav>
</header>
